.box {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    text-align: center;
}

#makequiz {
    height:40px; 
    width:200px; 
    margin: -20px -50px; 
    position:relative;
    top:25%; 
    left:0%;
    border-radius: 10%;
}

#createquiz {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#begin {
    height:40px; 
    width:200px; 
    border-radius: 10%;
}

#questions {
    display: none;
}

#quiz {
    display: none;
    font-size: 10px;
}

#displayquiz {
    display: none;
}

#results {
    display: none;
}